.test-results .test-header {
  width: 80%;
}

.test-results .fa-check {
  color: green;
  margin: 0 1rem;
}

.test-results .fa-times {
  color: red;
  margin: 0 1rem;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.result img {
  width: 65%;
}

.result span {
  font-weight: bold;
  font-size: 1.5rem;
}

.result .answers-wrapper {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.answers {
  width: 100px;
}

.answers > div {
  display: flex;
  justify-content: space-between;
}
