.prezwords-reg {
  background-image: url("../../assets/home/registrationImgBg.png");
  background-position: 50% 45%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2rem 0;
}
.prezident-words {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
}

.prez-img {
  overflow: hidden;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  -webkit-box-shadow: 0px 1px 17px 7px rgba(222, 222, 222, 1);
  -moz-box-shadow: 0px 1px 17px 7px rgba(222, 222, 222, 1);
  box-shadow: 0px 1px 17px 7px rgba(222, 222, 222, 1);
}

.prez-img img {
  width: 100%;
  height: 100%;
}

.prez-saying {
  position: relative;
  width: 70%;
  z-index: -1;
  padding: 3rem 0;
}

.prez-saying i {
  color: var(--secondary-color);
}

.fa-quote-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.fa-quote-left {
  position: absolute;
  left: 0;
  top: 0;
}

.prez-saying p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #4d59a1;
}
.prez-saying h3 {
  font-style: italic;
  color: var(--secondary-color);
}
