.topboard-crown {
  /* position: absolute;
  top: 21px;
  right: 21px;
  display: flex; */
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-direction: column;
  width: 90px;
}

.topboard-crown .crown {
  width: 85px;
}

.topboard-crown h1 {
  color: black;
  font-size: 2rem;
  color: #ff4b4b;
}

.topboard-crown .place {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #ff8a8a;
  left: 17px;
  top: 7px;
}
