.questions {
  padding: 2rem 0;
  /* border-top: 2px solid var(--secondary-color); */
}

.question-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-area .testHeader-questions {
  width: 81%;
}

.question-itself {
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question .lang-option {
  margin-bottom: 0.5rem;
}
.question .option-check {
  margin-right: 1rem;
}

.subs-by-major .subjects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
}

.subs-by-major .subjects i {
  margin: 0 1.5rem;
  color: var(--secondary-color);
}

.subs-by-major .subjects h2 {
  color: var(--secondary-color);
}

.subs-by-major .subjects .active {
  color: #4d59a1;
}

.subs-by-major .major {
  text-transform: uppercase;
  color: var(--secondary-color);
}

.subs-by-major .major .major-name {
  font-weight: 600;
}

.test-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 1rem;
}

.test-buttons button {
  margin: 0.5rem;
}
